################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BFTEST/bin
/BFTEST/obj/Debug
/packages
/Repository/bin/Debug
/Repository/obj/Debug
/Services/bin/Debug
/Services/obj/Debug
